body {
  background: #ADA996;
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: #EAEAEA;
  color: #000;
  font-family: 'Varela Round', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  direction: ltr;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  min-height: 100%;
}
* {
  box-sizing: border-box;
}
*:focus,
*:active {
  outline: none;
  border: none;
}
.page-main,
.page-main .navigation {
  background: #232323 !important;
}
.navigation {
  height: 60px;
  display: flex;
  margin-top: 30px;
  background: #8eacbb;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.navigation :first-child a,
.navigation :nth-child(4) a {
  border: none;
}
.navigation :nth-child(2) a {
  border-right: none;
}
.navigation a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.navigation a:hover {
  text-decoration: underline;
}
.logout-btn-web {
  align-items: center;
  height: 30px;
  display: flex;
  top: 0;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  justify-content: flex-end;
  color: white;
  background: #383838;
  width: 100%;
  padding-right: 30px;
}
.logout-btn-web a {
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-left: 3px solid white;
}
.logout-btn-web a:hover {
  text-decoration: underline;
}
.navigation-main {
  background: #EAEAEA;
  flex-direction: column;
  height: 100vh;
  font-size: 18px;
}
.navigation-main div {
  margin: 15px auto;
}
.navigation-main a {
  color: #8eacbb;
  border: none;
  text-transform: unset;
}
.navigation-main hr {
  border-radius: 50%;
  height: 1px;
  background-color: #8eacbb;
  width: 120px;
  border: none;
}
.navigation-main :first-child {
  margin-top: -220px;
}
.navigation-main :nth-child(8) {
  display: none;
}
.navigation-main .logout-btn {
  position: relative;
  right: 0;
  background: white;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #8eacbb;
}
.navigation-main .logout-btn:hover {
  background: #8eacbb;
  transition: all .5s ease;
  color: white;
  cursor: pointer;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.12), 1px 3px 6px rgba(0, 0, 0, 0.24);
}
.navigation-main .logout-btn a {
  font-size: 18px;
  padding: 0 70px;
  line-height: 40px;
  text-transform: uppercase;
}
.navigation-main .logout-btn a:hover {
  text-decoration: none;
  color: white;
}
.page-schet-pechatnaya-forma .logout-btn-web {
  display: none;
}
.renters {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-bottom: 15px;
  border-radius: 20px;
  background: white;
}
.renters-header {
  text-align: center;
}
.renters .renter {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 10px;
  background: #8eacbb;
  padding: 5px 30px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.renters .renter:hover {
  cursor: pointer;
  background: #9eb8c5;
  transition: all .3s ease;
}
.renters .renter-contract-header {
  padding-left: 20px;
}
.renters .renter-contract-header p:hover {
  cursor: pointer;
  color: #6e95a8;
  text-decoration: underline;
}
.renters p {
  margin: 0px;
}
.renters-details,
.renters-schet {
  display: none;
}
.renters-details {
  padding: 0 13px;
}
.renters-schet {
  padding-left: 20px;
}
#payments {
  background: white;
  display: flex;
  flex-direction: column;
  width: 650px;
  padding: 40px 30px;
  border-radius: 20px;
  margin: 30px auto 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#payments button {
  background: #8eacbb;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  width: 50%;
  margin: 20px auto 0;
}
#payments button:hover {
  transition: .3s ease;
  background: #aec3ce;
  cursor: pointer;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.12), 1px 3px 6px rgba(0, 0, 0, 0.24);
}
#payments input,
#payments select {
  border: .5px solid #2323;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
  outline: none;
}
#payments option {
  width: 90%;
  margin: 0 auto;
}
#payments label {
  margin-top: 15px;
}
#payments .payments-data {
  margin: 20px auto 0;
  text-transform: uppercase;
  font-size: 1.2em;
}
.vystavlenie-schetov {
  background: white;
  width: 850px;
  padding: 20px 30px 80px;
  border-radius: 20px;
  margin: 30px auto 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.vystavlenie-schetov hr {
  border-radius: 50%;
  margin-bottom: 30px;
}
.vystavlenie-schetov form {
  position: relative;
}
.vystavlenie-schetov p {
  padding-right: 20px;
}
.vystavlenie-schetov input[type="radio"],
.vystavlenie-schetov input[type="checkbox"] {
  margin-right: 10px;
}
.vystavlenie-schetov .mb0 {
  margin-bottom: 0;
}
.vystavlenie-schetov-date {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vystavlenie-schetov-date p {
  padding-right: 5px;
}
.vystavlenie-schetov-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.vystavlenie-schetov-item span {
  display: flex;
  align-items: center;
}
.vystavlenie-schetov-month,
.vystavlenie-schetov-year {
  display: flex;
}
.vystavlenie-schetov .error {
  font-weight: bold;
  color: #8eacbb;
}
.vystavlenie-schetov .month-error,
.vystavlenie-schetov .renter-error,
.vystavlenie-schetov .year-error {
  color: #8eacbb;
  font-weight: bold;
  display: none;
}
.vystavlenie-schetov .renter-error {
  top: 55px;
}
.vystavlenie-schetov .year-error {
  left: 30px;
  top: 184px;
}
.vystavlenie-schetov .month-error {
  left: 50px;
  top: 253px;
}
.vystavlenie-schetov .black-wrapper {
  display: none;
}
.vystavlenie-schetov .period-sum {
  margin: 0 10px;
  width: 180px;
}
.vystavlenie-schetov .success-message {
  display: none;
  position: fixed;
  z-index: 10;
  background: #008b00;
  border-radius: 20px;
  box-shadow: 1px 1px black;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  width: 420px;
  min-height: 100px;
  padding: 20px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.vystavlenie-schetov .success-message p {
  opacity: 0.8;
  color: white;
  padding-right: 0;
  margin-top: 20px;
  font-size: 20px;
}
.vystavlenie-schetov .success-message .close {
  top: 16px;
  cursor: pointer;
}
.vystavlenie-schetov-hidden {
  display: none;
}
.vystavlenie-schetov-hidden-btn {
  background: #8eacbb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
}
.vystavlenie-schetov-hidden-btn:hover {
  transition: .3s ease;
  background: #aec3ce;
  cursor: pointer;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.12), 1px 3px 6px rgba(0, 0, 0, 0.24);
}
.vystavlenie-schetov input[type="submit"] {
  background: #8eacbb;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
}
.vystavlenie-schetov input[type="submit"]:hover {
  transition: .3s ease;
  background: #aec3ce;
  cursor: pointer;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.12), 1px 3px 6px rgba(0, 0, 0, 0.24);
}
.payments .black-wrapper {
  display: none;
}
.payments .success-message,
.payments .error-message {
  display: none;
  position: fixed;
  z-index: 10;
  background: #008b00;
  border-radius: 20px;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  width: 420px;
  min-height: 100px;
  padding: 20px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.payments .success-message p,
.payments .error-message p {
  opacity: 0.8;
  color: white;
  padding-right: 0;
  margin-top: 20px;
  font-size: 20px;
}
.payments .success-message .close,
.payments .error-message .close {
  top: 16px;
  cursor: pointer;
}
.payments .error-message {
  background: #8eacbb;
}
.pechat-schetov .year-error {
  top: 0;
}
.pechat-schetov .month-error {
  top: 69px;
}
.pechat-schetov-result-header {
  margin: 40px auto 30px;
  text-align: center;
}
.renters-invoices {
  margin: 0 auto;
  background: white;
  width: 850px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding-bottom: 15px;
}
.renters-invoices h2 {
  padding: 20px 30px 0;
  cursor: default;
}
.renters-list {
  margin: 30px auto 50px;
  width: 850px;
  background: #fff;
  padding: 1px 20px 50px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.renters-list-link {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
}
.renters-list-link:hover {
  cursor: pointer;
  text-decoration: none;
  transition: .3s ease;
}
.renters-list-link p {
  margin-bottom: 0;
}
.renters-list-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.renters-list-delete {
  opacity: .8;
  padding-right: 50px;
  display: flex;
  align-items: center;
}
.renters-list-delete:hover {
  cursor: pointer;
  opacity: 1;
  transition: .3s ease;
}
.renters-list-delete-img {
  padding-left: 25px;
  background: url(/img/delete.png) no-repeat center / contain;
  height: 20px;
  width: 20px;
}
.renters-list-item {
  padding: 0 0 0 30px;
}
.renters-list hr {
  border-radius: 50%;
  margin-left: 0;
  width: 300px;
}
.renters-list .documents-block {
  color: #8eacbb;
}
.renters-list .documents-block a {
  margin-right: 25px;
  color: #232323;
}
.renters-list .documents-block a:hover {
  text-decoration: none;
  color: #8eacbb;
  transition: .3s ease;
}
.documents-block-renter {
  display: none;
}
.documents-block-renter p {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px 10px;
  margin-right: 30px;
}
.documents-block-renter p:hover {
  background: #9eb8c5;
  transition: .3s ease;
  cursor: pointer;
}
.documents-block-renter a {
  position: relative;
  margin-right: 30px !important;
}
.documents-block-renter a:after {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  right: -30px;
  background: url(/img/baseline_print_black_18dp.png) no-repeat center / contain;
}
.print-error {
  z-index: 3;
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 125px;
  background: #8eacbb;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}
.print-error .wrapper {
  position: relative;
}
.print-error-text p {
  color: white;
  padding-left: 40px;
  font-size: 16px;
  margin-top: 50px;
}
.black-wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
input[type="date"]::-webkit-clear-button {
  display: none;
}
/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}
/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}
input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 25px;
}
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.invoice-table {
  background: white;
  margin: 0 auto;
  width: 850px;
  border-radius: 20px;
  padding: 10px 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.invoice-table td {
  text-align: center;
  height: 40px;
}
.invoice-table th {
  padding: 10px 0;
  border-bottom: 1.5px solid lightgray;
}
/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #8eacbb;
}
/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #8eacbb;
}
/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  width: 100%;
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 42px 0 22px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 45px;
  background: #8eacbb;
  border-radius: 4px;
  cursor: pointer;
}
.custom-select-trigger:hover {
  transition: .3s ease;
  background: #9eb8c5;
}
#pechat-schetov > div.custom-select-wrapper > div {
  width: 420px;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  z-index: 5;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 14px;
  font-weight: 600;
  color: #414141;
  line-height: 35px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}
.close {
  position: absolute;
  right: 16px;
  top: -32px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  z-index: 10;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.error-msg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  margin: 0 auto 40px;
  height: 100px;
  color: white;
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  background: #f95252;
}
.error-msg .close {
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.error-msg strong {
  font-size: 16px;
}
